$background-color: #181818;
$text-color: #d1d1d1;
$link-color: #d898dd;
$link-hover-color: #f3ce67;

body {
	background-color: $background-color;
	color: $text-color;
	display: flex;
	justify-content: center;
	font-family: 'hack', monospace;
	font-size: 16px;
	font-weight: 400;
}

main {
	text-transform: lowercase;

	@media (min-width: 576px) {
		font-size: 18px;
		width: 80%;
	}

	@media (min-width: 768px) {
		font-size: 20px;
		width: 60%;
	}
}

p {
	margin: 0;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
	}
}

img {
	max-width: 100%;
	height: auto;
}
