$scroll-bg: #ae9cff;
$scroll-fg: #1e1e1e;
$content-color: #92d0cd;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
	::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	::-webkit-scrollbar-track {
		background: $background-color;
	}
}

@include scrollbars(10px, $scroll-bg, $scroll-fg);
.json {
	padding: 2rem;
	&:before {
		content: '{';
		font-size: 36px;
		font-weight: 900;
		color: $content-color;
	}
	&:after {
		content: '}';
		font-size: 36px;
		font-weight: 900;
		color: $content-color;
	}
}

.block {
}

.key:after {
	content: ': ';
}

.attr,
.list-attr {
	&:before {
		content: '"';
	}
	&:after {
		content: '",';
	}
}

.array-key:after {
	content: ': [';
}

.array-attr {
	margin-left: 1.5rem;

	&:before {
		content: '"';
	}
	&:after {
		content: '",';
	}
}

.array:after {
	content: '],';
}

.list-key:after {
	content: ': {';
}

.list:after {
	content: '},';
}

.list-subkey {
	margin-left: 1.5rem;

	&:after {
		content: ': ';
	}
}
